
@font-face { font-family: heracles; src: url('fontes/louisa.otf'); }
body{
	background-color: rgb(255,204,41);
        background:url('../imgs/yellow.jpg');
	

}

#tudo{
	background-color:white;
        padding-top: 1%;

}

#conteudo{
	
	min-height:450px;

}

header{
	
	background-color:black;
	margin-left: 0px;
        margin-right: 0px;


}

#apresentacao{
    text-align: center;
}

#apresentacao h1, #apresentacao h3 {
	 padding: 0;
         margin:0;

}
#apresentacao h1{
    color: #fff;
    font-family: heracles;
    font-size: 80px;
    height: 65px;
}

#apresentacao h3{
    color: rgb(255,204,41);
}


#logo{
	

}

.texto_saudacao {
  text-align: right;
  padding-right: 10px;
   margin-top: 60px;
   color: #fff;
    
}
#login{
	background-color:white;
	width:480px;
	min-height:260px;
	margin:160px auto 0px;
	border-radius:15px;
	box-shadow:0px 0px 20px #000;
	

}

#titulo_login{
	
	
	text-align:center;
	font:center;
	color:black;
	vertical-align: middle;
	min-height:50px;
	/*background-image: linear-gradient(to top, #3F4196 0%, #00AFEF 160%);*/
    background-color:rgb(241,238,138);;
    background-image: linear-gradient(to left, transparent, rgba(92,92,92,.3));
	border-top-left-radius:15px;
	border-top-right-radius:15px;

}

#corpo_login {
	margin-left:15px;
	margin-top:15px;


}

#corpo_login .btn-primary{
	background-color: rgb(255,204,41);
        color:black;


}




#rodape{
	
	background-color: rgb(241,238,138);
	padding: 2px 2px 4px 2px;
        margin-top: 15px;
        margin-bottom: 10px;


}

#texto_rodape{
	margin-top:-10px;
	
}

.navbar-default{
	color:black;
	background-color:rgb(255,204,41);


}

.sair{
    background-color: #d9534f;
    border-color: #D43F3A;
    color:white !important;
}


    
ul.nav.navbar-nav > li > a.sair:hover, ul.nav.navbar-nav > li > a.sair:focus{
    color:#D43F3A !important;

}



ul.nav.navbar-nav > li > a {
color: black;
font-size:12pt;
font-weight:bold;
border-right:2px solid white;

}

ul.nav.navbar-nav > li > a:hover, ul.nav.navbar-nav > li > a:focus{
color:black;
background-image: linear-gradient(to right, rgba(229,229,219,1.0), rgb(255,255,255) );
}


label.error{
	 color:red;

}

.modal-header{
	background-color: rgb(255,204,41);
	color: black;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-footer{
	background-color: #f5f5f5;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.pagination{
    display: inline;
    margin: 0px;
}

.dataTables_info{
   
}

.dataTables_paginate{
    float: right;
}

.pesquisa_tabela input[type=text] {
    border-radius: 10px;
      
    
}

.pesquisa_tabela input[type=text]:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none; 
    
}

.panel{
    margin-bottom: 2px;
}

#slide{
        position: relative;
        left: 250px;
        top:90px;  
}

.nome_fornecedor{
    color: red;
    font-size: 10px;
}

.altura_minima{
    min-height: 250px;
}

div.modal-dialog.largura_ideal{
    width:75%;
}

a.detalhe_cliente, a.detalhe_funcionario{
    color:black;
}